<!--
  templateType: page
  isAvailableForNewContent: true
  label: membership login
-->
{% extends "./layouts/base.hubl.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Membership | Login" %}

{% block header %}
  {{ require_css(get_asset_url("../styles/system.css")) }}
{% endblock %}

{% block body %}
<section class="content-wrapper">
  <div class="systems-page">
    
    <div class="form-container">
      {% member_login "my_login"
        email_label= "Email",
        password_label= "Password",
        remember_me_label= "Remember Me",
        reset_password_text= "Forgot your password?",
        submit_button_text= "Login"
      %}
    </div>
  </div>
</section>
{% endblock %}
